<header class="header">
    <nav class="nav">
        <div class="nav-left">
            <h1><a href="{{ path('home') }}">
                    <img src="{{asset ('/uploads/images/logo.jpg')}}" alt="Logo de l'entreprise" class="logo"> Carma auto
                </a></h1>
        </div>
        <label for="btnHamburger" class="btnHamburger"><i class="fas fa-bars"></i></label>
        <input type="checkbox" id="btnHamburger">
        <ul>
            <a href="{{ path('cars') }}">Nos vehicules à louer</a>
            <a href="{{ path('sales') }}">Nos vehicules en vente</a>
            {% if app.user %}
            <a href="{{ path('users') }}"> Mon compte</a>
            {% else %}
            <a href="{{ path('app_register') }}">Inscription</a>
            <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
        </ul>
    </nav>
    <div class="jumbotron">
        <p> Pour toute informations complémentaire n'hesitez pas à nous téléphoner ou remplissez un <span><a href="">formulaire de contact</a></span> nous vous répondrons par mail dans les plus brefs délais</p>
    </div>

</header>