{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<section>
    <div class="jumbotron search">
        <h1>Trouver votre location</h1>
        <div class="container">
            {{ form_start(formSearch) }}
            <div class="form-row align-items-end">
                <div class="col">

                    {{ form_row(formSearch.categories) }}
                </div>
                <div class="col">

                    {{ form_row(formSearch.maxPrice) }}
                </div>
                <div class="col">

                    {{ form_row(formSearch.energy) }}
                </div>
                <div class="form">
                    <button class="btn btn-dark">Rechercher</button>
                </div>

            </div>
            {{ form_end(formSearch) }}
        </div>
    </div>
    {# Seul le user connecté peut réserver #}
    <div class="row row-cols-1 row-cols-md-3">
        {% for car in cars %}
        <div class="col mb-4">
            <div class="card">
                <img src="{{car.image}}" class="card-img-top" alt="image de la {{car.title}}">
                <div class="card-body">
                    <h3 class="card-title">{{car.title}}</h3>
                    <h4 class="card-text">{{car.categories}}</h4>
                    <h5 class="card-text">{{car.energy | upper}}</h5>
                    <p class="card-descrition">{{car.content}}</p>
                    <p class="card-text">{{car.price}}€ par jour</p>
                    <a href="/cars/{{car.id}}" class="btn btn-dark">Plus sur la {{car.title}}</a>
                    {% if is_granted('ROLE_USER') %}
                    <a href="/bookings/{{car.id}}" class="btn btn-primary">Réserver ce vehicule</a>
                    {% else %}
                    <p> Vous devez être inscrit pour reserver en ligne
                        <span>
                            <a href="{{ path('app_login') }}">connexion</a>
                        </span>
                        <span>
                            <a href="{{ path('app_register') }}">inscription</a>
                        </span>
                    </p>

                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% for message in app.flashes('message') %}
        <div class="alert" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render( cars ) }}
    </div>
</section>
<section>
    <div class="card-group">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <h1>Contactez-Nous</h1>
    <div class="container">
        {{form_start(contactForm)}}
        <div class="form-row">
            <div class="form-group col-md-5">
                {{form_label(contactForm.nom)}}
                {{form_widget(contactForm.nom)}}
            </div>
            <div class="form-group col-md-5">
                {{form_label(contactForm.email)}}
                {{form_widget(contactForm.email)}}
            </div>
            <div class="form-group col-md-2">
                {{form_label(contactForm.sujet)}}
                {{form_widget(contactForm.sujet)}}
            </div>
        </div>
        <div class="form-group">
            {{form_label(contactForm.message)}}
            {{form_widget(contactForm.message)}}
        </div>
        <button class="btn btn-primary">Envoyer</button>
        {{form_end(contactForm)}}
        <br>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        <div class="alert">
            {{errormessage}}
        </div>
    </div>
</section>




{% endblock %}