{% extends 'base.html.twig' %}

{% block title %}New{% endblock %}

{% block body %}


<h1 class="text-center">Réserver votre véhicule</h1>

<h3 class="text-center">Réserver la {{car.title}}</h3>
<div class="container">
    {{ form_start(bookingForm)}}
    <div class="form-row align-items-end">
        <div class="col">
            {{ form_row(bookingForm.startDate)}}
        </div>
        <div class="col">{{ form_row(bookingForm.endDate)}}
        </div>
        <div class="col">
            <div class="form-group">
                <button id="btnform" class="btn btn-dark">Valider</button>
            </div>
        </div>
    </div>
    {% for message in app.flashes('warning') %}
    <div class="alert">
        {{ message }}
    </div>
    {% endfor %}
    {{ form_end(bookingForm)}}

    <div id="recap"></div>
</div>



{% block javascripts %}

{% endblock %}

{% endblock %}