{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="text-center">Entrer vos dates pour réserver la {{car.title}}</h1>
</div>

<br><br><br>
<div class="container">
    {{ form_start(bookingForm)}}
    <div class="form-row align-items-end" id="bookingForm">
        <div class="col">
            {{ form_row(bookingForm.startDate)}}
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <div class="col">
            {{ form_row(bookingForm.endDate)}}
        </div>
        <div class="col">
            <div class="">
                <button id="btnform" class="btn btn-dark">Valider</button>
            </div>
        </div>
    </div>
    {% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {{ form_end(bookingForm)}}
    <br><br>
    <div id="recap">
        <h4 class="py-3">Montant de la location : <span id="amount"> {{ car.price }} € </span></h4>
        <p><span id="days" class="mt-4">1</span> jour(s) à {{ car.price }} €/ jour</p>
        <button id="btncalc" class="btn btn-dark">Obtenir le prix de ma location</button>
    </div>
</div>
<br><br><br><br>
{% endblock %}

{% block javascripts %}
{#
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
#}
<script src="{{ asset ('/assets/js/datepicker.min.js')}}"></script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
            startDate: new Date(),
            disableTouchKeyboard: true,
        }).on('changeDate', runAmount)
    }
    );
</script>
<script>
    /* Calcul du prix de la reservation */
    // On récupère les élements du formulaire
    let startDateEl = document.getElementById('bookings_startDate');
    let endDateEl = document.getElementById('bookings_endDate');
    let amountEl = document.getElementById('amount');
    let daysEl = document.getElementById('days');

    function calcAmount(startDate, endDate, amount) {
        //Conversion en timestamp pour faire le calcul
        const start = Date.parse(startDate);
        const end = Date.parse(endDate);
        let timeToDays = 24 * 60 * 60 * 1000; // 1 jour
        let interval = end - start; //On calcul l'interval entre les deux dates
        // Si l'utilisateur choisi la même dates pour une réservation d'une journée l'interval sera égal à 0 donc nous l'initialison a 1 jour minimum  
        if (interval == 0) {
            return [1, amount];
        }
        let days = interval / timeToDays + 1; // Conversion pour avoir le nombre de jour
        return [days, days * amount];
    }

    function runAmount() {
        if (!startDateEl.value || !endDateEl.value) return // Si les dates dates ne sont pas initialisées le calcul ne se fera pas
        let [days, amount] = calcAmount(startDateEl.value, endDateEl.value, {{ car.price }});
    // console.log(days, amount);
    // On écrit dans notre élement html en le localisant avec son id
    amountEl.innerHTML = amount.toFixed(2);
    daysEl.innerHTML = days;
    }

    




</script>
{% endblock %}