{% extends 'base.html.twig' %}

{% block title %}Hello CarsController!{% endblock %}

{% block body %}

{% for category in categories %}
<a href="/cars/{{category.id}}">{{category.name}}</a>
{% endfor %}

<div class="row row-cols-1 row-cols-md-3">
    {% for car in cars %}
    <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{{car.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{car.title}}</h5>
                <p class="card-text">{{car.content}}</p>
                <p class="card-text">{{car.price}}€ par jour</p>
                <a href="/bookings/{{car.id}}" class="btn btn-primary">Réserver ce vehicule</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}