{% extends 'users.html.twig' %}

{% block title %} {{ app.user.firstname | capitalize}} {{ app.user.lastname | capitalize }} {% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    
        <h1>Profil de {{ app.user.firstname | capitalize}} {{ app.user.lastname | capitalize }}</h1>
    
    <div class="row">
        <div class="col">Email :</div>
        <div class="col">{{ app.user.email }}</div>
    </div>
    <div class="row">
        <div class="col">Telephone :</div>
        <div class="col">{{ app.user.tel }}</div>
    </div>
</div>
{% endblock %}