{% extends 'users.html.twig' %}

{% block title %}{{ app.user.firstname }} {{ app.user.lastname }} {% endblock %}

{% block body %}
<div class="updateform">
    {{ form_start(formUpdate)}}
    <Fieldset>
        <legend>Modification de mot de passe</legend>
        <div class="form-group">
            <div class="form-group">
                {{ form_row(formUpdate.currentPassword)}}
            </div>
            <div class="form-group">
                {{ form_row(formUpdate.newPassword)}}
            </div>
            <div class="form-group">
                {{ form_row(formUpdate.confirmPassword)}}
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-dark">Valider</button>
        </div>
        {% for message in app.flashes('message') %}
        <div class="alert" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </Fieldset>
    {{ form_end(formUpdate)}}
</div>
{% endblock %}