{% extends 'users.html.twig' %}

{% block title %}{{ app.user.firstname }} {{ app.user.lastname }} {% endblock %}

{% block body %}
<h1>Modification du profil</h1>

<div class="container">
    {{ form_start(formUpdate)}}

        {{ form_row(formUpdate.currentPassword)}}

        {{ form_row(formUpdate.newPassword)}}

        {{ form_row(formUpdate.confirmPassword)}}
    
    <div class="row"><button class="btn btn-dark">Valider</button></div>
    {{ form_end(formUpdate)}}
</div>
{% endblock %}