{% extends 'users.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}

<h2>Vos réservations</h2>


{% for booking in app.user.bookings %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id de votre réservation</th>
                <th scope="col">Véhicule réservé</th>
                <th scope="col">Date de retrait</th>
                <th scope="col">Date de retour</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ booking.id }}</th>
                <td>{{ booking.cars }}</td>
                <td>{{ booking.startDate| date("d/m/Y") }}</td>
                <td>{{ booking.endDate| date("d/m/Y") }}</td>
            </tr>
        </tbody>
    </table>
</div>

{# <div class="row">
    <div class="col-2">Voiture réserver</div>
    <div class="col-2"><strong>{{ booking.cars }}</strong></div>
</div>
<div class="row">
    <div class="col">Date de réservation:</div>
    <div class="col"> du {{ booking.startDate | date("d/m/Y") }} au {{ booking.endDate | date("d/m/Y") }}</div>
</div> #}
{% endfor %}
{% endblock %}