{% extends 'users.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="">
    {{ message }}
</div>
{% endfor %}
<h2>Vos réservations</h2>
<br> <br>
{% for booking in app.user.bookings %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N° de votre réservation</th>
                <th scope="col">Véhicule réservé</th>
                <th scope="col">Date de retrait</th>
                <th scope="col">Date de retour</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ booking.id }}</th>
                <td>{{ booking.cars }}</td>
                <td>{{ booking.startDate| date("d/m/Y") }}</td>
                <td>{{ booking.endDate| date("d/m/Y") }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}